
<!doctype html>
<html lang="en">

<head>
    <title>Code coverage report for All files</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="prettify.css" />
    <link rel="stylesheet" href="report.css" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="mainContainer">
    <h1>Genese complexity report</h1>
    <div class="header">

        <!--        -------------------------------------------------------------------------------------->
        <!--        -----------------------------------   Global statistics   ---------------------------->
        <!--        -------------------------------------------------------------------------------------->

        <!--        -----------------------------------   Files and methods   ---------------------------->

        <div class="stats">
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.numberOfFiles}}</span>
                    <span class="quiet">Files</span>
                </div>
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.numberOfMethods}}</span>
                    <span class="quiet">Methods</span>
                </div>
            </div>

            <!--        -----------------------------------   Cognitive complexity   ---------------------------->

            <div class="clearfix subtitle">
                <div class='fl pad1y space-right2'>
                    <span class="strong">Cognitive complexity</span>
                    <span class="quiet">(threshold : {{cognitiveErrorThreshold}})</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cognitive.correct}} %</span>
                    <span class="quiet"> Correct</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cognitive.correct}}/{{stats.numberOfMethods}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cognitive.warning}} %</span>
                    <span class="quiet"> Warning</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cognitive.warning}}/{{stats.numberOfMethods}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cognitive.error}} %</span>
                    <span class="quiet"> Error</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cognitive.error}}/{{stats.numberOfMethods}}</span>
                </div>
            </div>

            <!--        -----------------------------------   Cyclomatic complexity   ---------------------------->

            <div class="clearfix subtitle">
                <div class='fl pad1y space-right2'>
                    <span class="strong">Cyclomatic complexity</span>
                    <span class="quiet">(threshold : {{cyclomaticErrorThreshold}})</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cyclomatic.correct}} %</span>
                    <span class="quiet"> Correct</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cyclomatic.correct}}/{{stats.numberOfMethods}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cyclomatic.warning}} %</span>
                    <span class="quiet"> Warning</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cyclomatic.warning}}/{{stats.numberOfMethods}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cyclomatic.error}} %</span>
                    <span class="quiet"> Error</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cyclomatic.error}}/{{stats.numberOfMethods}}</span>
                </div>
            </div>

        </div>

        <!--        -------------------------------------------------------------------------------------->
        <!--        -----------------------------------------   Charts   ---------------------------->
        <!--        -------------------------------------------------------------------------------------->

        <div class="charts">
            <div class="doughnut-cognitive">
                <canvas id="doughnut-cognitive-cpx"></canvas>
            </div>
            <div class="bar-cognitive">
                <canvas id="bar-cognitive-cpx" height="200"></canvas>
            </div>
        </div>

    </div>
    <table class="coverage-summary">
        <thead>
        <tr>
            <th class="file">File</th>
            <th class="column methodColumn">Method</th>
            <th class="column cyclomaticColumn">Cyclomatic complexity</th>
            <th class="column cognitiveColumn">Cognitive complexity</th>
        </tr>
        </thead>
        {{#each report}}
            {{>analyse analyse=.}}
        {{/each}}
    </table>
</div>
<script src="../../node_modules/chart.js/dist/Chart.js"></script>

{{>cognitiveDoughnutScript}}
{{>cognitiveBarchartScript}}
</body>
</html>
