
<!doctype html>
<html lang="en">

<head>
    <title>Code coverage report for All files</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="prettify.css" />
    <link rel="stylesheet" href="report.css" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="mainContainer">
    <h1>Genese complexity report</h1>
    <div class="header">
        <div class="stats">
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.numberOfFiles}}</span>
                    <span class="quiet">Files</span>
                </div>
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.numberOfMethods}}</span>
                    <span class="quiet">Methods</span>
                </div>
            </div>

            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentUnderCognitiveThreshold}} %</span>
                    <span class="quiet">Cognitive complexity</span>
                    <span class='fraction'>{{cognitiveCorrectOrWarning}}/{{numberOfMethods}}</span>
                    <span class="quiet">(threshold : {{cognitiveErrorThreshold}})</span>
                </div>
            </div>

            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentUnderCyclomaticThreshold}} %</span>
                    <span class="quiet">Cyclomatic complexity</span>
                    <span class='fraction'>{{cyclomaticCorrectOrWarning}}/{{numberOfMethods}}</span>
                    <span class="quiet">(threshold : {{cyclomaticErrorThreshold}})</span>
                </div>
            </div>
        </div>

        <div class="charts">
            <div class="doughnut-cognitive">
                <canvas id="doughnut-cognitive-cpx"></canvas>
            </div>
            <div class="bar-cognitive">
                <canvas id="bar-cognitive-cpx" height="200"></canvas>
            </div>
        </div>

    </div>
    <table class="coverage-summary">
        <thead>
        <tr>
            <th class="file">File</th>
            <th class="column methodColumn">Method</th>
            <th class="column cyclomaticColumn">Cyclomatic complexity</th>
            <th class="column cognitiveColumn">Cognitive complexity</th>
        </tr>
        </thead>
        {{#each report}}
            {{>analyse analyse=.}}
        {{/each}}
    </table>
</div>
<script src="../../node_modules/chart.js/dist/Chart.js"></script>

<script>

    // *************************************************************************************************
    //                                 Doughnut cognitive complexity
    // *************************************************************************************************

    var ctxDougnutCognitive = document.getElementById('doughnut-cognitive-cpx').getContext("2d");
    var doughnutCognitive = new Chart(ctxDougnutCognitive, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    {{stats.methodsByStatus.cognitive.correct}},
                    {{stats.methodsByStatus.cognitive.warning}},
                    {{stats.methodsByStatus.cognitive.error}},
                ],
                backgroundColor: [
                    'rgba(3, 169, 244, 0.6)',
                    'rgba(255, 152, 0, 0.6)',
                    'rgba(216, 27, 96, 0.6)',
                ]
            }],
            labels: [
                'complexity < {{cognitiveThreshold}}',
                'complexity > {{cognitiveThreshold}}',
            ]
        },
        options: {
            layout: {
                padding: {
                    maintainAspectRatio: false,
                    responsive: false,
                    left: 50,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            legend: {
                display: false
            },
            position: 'left',
            title: {
                display: true,
                text: 'Cognitive complexity'
            }
        }
    });
</script>
{{>cognitiveBarchartScript}}
</body>
</html>
