<tr>
    <td class="column fileColumn">{{rowFolder.path}}</td>
    <td class="column methodColumn">{{rowFolder.numberOfFiles}}</td>
    <td class="column methodColumn">{{rowFolder.numberOfMethods}}</td>
    <td class="column cognitiveColumn">{{rowFolder.cognitiveCorrect}}</td>
    <td class="column cognitiveColumn">{{rowFolder.cognitiveWarning}}</td>
    <td class="column cognitiveColumn">{{rowFolder.cognitiveError}}</td>
    <td class="column cyclomaticColumn">{{rowFolder.cyclomaticCorrect}}</td>
    <td class="column cyclomaticColumn">{{rowFolder.cyclomaticWarning}}</td>
    <td class="column cyclomaticColumn">{{rowFolder.cyclomaticError}}</td>
</tr>
