<tr>
    <td><a href="{{rowFolder.routeFromCurrentFolder}}/report.html">{{rowFolder.path}}</a></td>
    <td class="center">{{rowFolder.numberOfFiles}}</td>
    <td class="center">{{rowFolder.numberOfMethods}}</td>
    <td class="center correct">{{rowFolder.complexitiesByStatus.cognitive.correct}}</td>
    <td class="center warning">{{rowFolder.complexitiesByStatus.cognitive.warning}}</td>
    <td class="center error">{{rowFolder.complexitiesByStatus.cognitive.error}}</td>
    <td class="center correct">{{rowFolder.complexitiesByStatus.cyclomatic.correct}}</td>
    <td class="center warning">{{rowFolder.complexitiesByStatus.cyclomatic.warning}}</td>
    <td class="center error">{{rowFolder.complexitiesByStatus.cyclomatic.error}}</td>
</tr>
