<tr>
    <td>{{rowFolder.path}}</td>
    <td class="center">{{rowFolder.numberOfFiles}}</td>
    <td class="center">{{rowFolder.numberOfMethods}}</td>
    <td class="center">{{rowFolder.complexitiesByStatus.cognitive.correct}}</td>
    <td class="center">{{rowFolder.complexitiesByStatus.cognitive.warning}}</td>
    <td class="center">{{rowFolder.complexitiesByStatus.cognitive.error}}</td>
    <td class="center">{{rowFolder.complexitiesByStatus.cyclomatic.correct}}</td>
    <td class="center">{{rowFolder.complexitiesByStatus.cyclomatic.warning}}</td>
    <td class="center">{{rowFolder.complexitiesByStatus.cyclomatic.error}}</td>
</tr>
