<tr>
    <td>{{rowFolder.path}}</td>
    <td class="center">{{rowFolder.numberOfFiles}}</td>
    <td class="center">{{rowFolder.numberOfMethods}}</td>
    <td class="center">{{rowFolder.cognitiveCorrect}}</td>
    <td class="center">{{rowFolder.cognitiveWarning}}</td>
    <td class="center">{{rowFolder.cognitiveError}}</td>
    <td class="center">{{rowFolder.cyclomaticCorrect}}</td>
    <td class="center">{{rowFolder.cyclomaticWarning}}</td>
    <td class="center">{{rowFolder.cyclomaticError}}</td>
</tr>
