
<!doctype html>
<html lang="en">

<head>
    <title>Genese complexity report</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{relativeRootReports}}/styles/prism.css" />
    <link rel="stylesheet" href="{{relativeRootReports}}/styles/prettify.css" />
    <link rel="stylesheet" href="{{relativeRootReports}}/styles/report.css" />
    <link rel="stylesheet" href="{{relativeRootReports}}/styles/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="mainContainer">
    <h1>Genese complexity report</h1>
    <div class="header">

        <!--        -------------------------------------------------------------------------------------->
        <!--        -----------------------------------   Global statistics   ---------------------------->
        <!--        -------------------------------------------------------------------------------------->

        <!--        -----------------------------------   Files and methods   ---------------------------->

        <div class="stats">
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.subject}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.numberOfMethods}}</span>
                    <span class="quiet">Methods</span>
                </div>
            </div>
            <div class="clearfix padly">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.totalCognitiveComplexity}}</span>
                    <span class="quiet">points of cognitive complexity</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.totalCyclomaticComplexity}}</span>
                    <span class="quiet">points of cyclomatic complexity</span>
                </div>
            </div>

            <!--        -----------------------------------   Cognitive complexity   ---------------------------->

            <div class="clearfix cognitive-subtitle">
                <div class='fl pad1y space-right2'>
                    <span class="strong">Cognitive complexity</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cognitive.correct}} %</span>
                    <span class="quiet"> Correct</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cognitive.correct}}/{{stats.numberOfMethods}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cognitive.warning}} %</span>
                    <span class="quiet"> Warning</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cognitive.warning}}/{{stats.numberOfMethods}}</span>
                    <span class="quiet">(threshold : {{thresholds.cognitive.warning}})</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cognitive.error}} %</span>
                    <span class="quiet"> Error</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cognitive.error}}/{{stats.numberOfMethods}}</span>
                    <span class="quiet">(threshold : {{thresholds.cognitive.error}})</span>
                </div>
            </div>

            <!--        -----------------------------------   Cyclomatic complexity   ---------------------------->

            <div class="clearfix cyclomatic-subtitle">
                <div class='fl pad1y space-right2'>
                    <span class="strong">Cyclomatic complexity</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cyclomatic.correct}} %</span>
                    <span class="quiet"> Correct</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cyclomatic.correct}}/{{stats.numberOfMethods}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cyclomatic.warning}} %</span>
                    <span class="quiet"> Warning</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cyclomatic.warning}}/{{stats.numberOfMethods}}</span>
                    <span class="quiet">(threshold : {{thresholds.cyclomatic.warning}})</span>
                </div>
            </div>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{stats.percentsByStatus.cyclomatic.error}} %</span>
                    <span class="quiet"> Error</span>
                    <span class='fraction'>{{stats.numberOfMethodsByStatus.cyclomatic.error}}/{{stats.numberOfMethods}}</span>
                    <span class="quiet">(threshold : {{thresholds.cyclomatic.error}})</span>
                </div>
            </div>

        </div>

        <!--        -------------------------------------------------------------------------------------->
        <!--        -----------------------------------------   Charts   --------------------------------->
        <!--        -------------------------------------------------------------------------------------->

        <div class="charts">
            <div class="cognitive-charts">
                <div class="doughnut">
                    <canvas id="doughnut-cognitive-cpx" height="220"></canvas>
                </div>
                <div class="bar">
                    <canvas id="bar-cognitive-cpx" height="250" width="800"></canvas>
                </div>
            </div>
            <div class="cyclomatic-charts">
                <div class="doughnut">
                    <canvas id="doughnut-cyclomatic-cpx" height="220"></canvas>
                </div>
                <div class="bar">
                    <canvas id="bar-cyclomatic-cpx" height="250" width="800"></canvas>
                </div>
            </div>
        </div>

    </div>


    <!--        -------------------------------------------------------------------------------------->
    <!--        -----------------------------------   Methods arrays   -------------------------------->
    <!--        -------------------------------------------------------------------------------------->


        {{#each methods}}
            {{>method method=.}}
        {{/each}}




    <!--        -------------------------------------------------------------------------------------->
    <!--        -----------------------------------   Scripts-----   --------------------------------->
    <!--        -------------------------------------------------------------------------------------->



    <script src="../../../{{relativeRootReports}}/node_modules/chart.js/dist/Chart.js"></script>
    <script src="{{relativeRootReports}}/styles/prism.js">

    {{>cognitiveDoughnutScript}}
    {{>cognitiveBarchartScript}}
    {{>cyclomaticDoughnutScript}}
    {{>cyclomaticBarchartScript}}
</body>
</html>
