
<table class="array-report">
    <thead>
    <tr>
        <td>
            <div class="clearfix">
                <div class='fl pad1y space-right2'>
                    <span class="strong">{{methodName}}</span>
                </div>
                <div class='fl pad1y space-right2'>
                    <span class="strong {{cognitiveColor}}">{{cognitiveCpx}}</span>
                    <span class="quiet">points of cognitive complexity</span>
                </div>
                <div class='fl pad1y space-right2'>
                    <span class="strong {{cyclomaticColor}}">{{cyclomaticCpx}}</span>
                    <span class="quiet">points of cyclomatic complexity</span>
                </div>
            </div>
        </td>
    </tr>
    </thead>
    <tr>
        <td>
            {{methodCode}}
        </td>
    </tr>
</table>
