<tr>
    <td><a href="{{rowFile.link}}">{{rowFile.filename}}</a></td>
    <td>{{rowFile.methodName}}</td>
    <td class="center {{rowFile.cognitiveColor}}">{{rowFile.cognitiveValue}}</td>
    <td class="center {{rowFile.cyclomaticColor}}">{{rowFile.cyclomaticValue}}</td>
</tr>
