{{#with rowFile}}
    <tr>
        <td><a href="{{linkFile}}">{{filename}}</a></td>
        <td>{{methodName}}</td>
        <td class="center {{cognitiveColor}}">{{cognitiveValue}}</td>
        <td class="center {{cyclomaticColor}}">{{cyclomaticValue}}</td>
    </tr>
{{/with}}
